---
interface Props {
  show?: Array<{
    studies: string;
    details: string;
    fromYear: string;
    toYear: string;
    remarks?: string[];
  }>;
}

const { show = [] } = Astro.props;
---

<div class={"flex flex-col gap-2"}>
  <h2 class="text-xl font-extrabold">EDUCATION</h2>

  {
    show.length > 0 && (
      <div class="flex flex-col gap-6">
        {show.map(({ studies, details, fromYear, toYear, remarks = [] }) => (
          <div class="flex flex-col gap-1">
            <div class="flex gap-2 items-center">
              <h3 class="font-bold">{studies}</h3>
              <span class="text-sm">
                {fromYear} - {toYear}
              </span>
            </div>

            <p>{details}</p>

            {remarks.length > 0 && (
              <ul class="list-inside list-disc">
                {remarks.map((remark) => (
                  <li>{remark}</li>
                ))}
              </ul>
            )}
          </div>
        ))}
      </div>
    )
  }

  <hr />
</div>
