---
import PageLayout from "../layouts/PageLayout.astro";
import Printable from "../components/Printable.astro";
import Languages from "../components/cv/Languages.astro";
import Education from "../components/cv/Education.astro";
import Experience from "../components/cv/Experience.astro";
import Skills from "../components/cv/Skills.astro";
import Summary from "../components/cv/Summary.astro";
import Header from "../components/cv/Header.astro";
import Introduction from "../components/cv/Introduction.astro";
import Others from "../components/cv/Others.astro";

import linkedinIconReference from "../assets/linkedin.svg";
import githubIconReference from "../assets/github.svg";

import cvReference from "/Julio_Castro_CV.pdf";

const PHONE_NUMBER = "+41 76 513 18 64";
const EMAIL = "julio.castro.dev@gmail.com";
const LINKEDIN_LINK = "https://www.linkedin.com/in/juliocastrodev/";
const GITHUB_LINK = "https://github.com/juliocastrodev";
---

<PageLayout
  title="Julio Castro | Senior Software Engineer"
  description="CV of Julio Cesar Castro Lopez, senior software engineer based in Zürich, Switzerland"
  bodyClasses="p-10 sm:p-20 flex flex-col items-center gap-4"
>
  <p>Hi! I'm Julio 👋. Welcome to my website!</p>

  <p>Down here you can find my CV with my contact info ⬇️.</p>

  <Printable
    id="julio-cv"
    classes="p-6 sm:p-12 bg-white text-black flex flex-col gap-3"
  >
    <Introduction
      firstName="JULIO"
      lastName="CASTRO"
      title="Senior Software Engineer"
    />

    <Header classes="text-sm">
      {PHONE_NUMBER} | <a href={`mailto:${EMAIL}`} class="hover:underline"
        >{EMAIL}</a
      > | <a class="underline" target="_blank" href={LINKEDIN_LINK}
        >linkedin.com/in/juliocastrodev</a
      > | Zurich, Switzerland
    </Header>

    <Summary>
      Extensive experience in software engineering from start-up to large
      corporate levels. Proven success leading teams in various technologies,
      including Angular, React, Nodejs or Spring Boot, resulting in highly
      performing, harmonious and cohesive teams with deep technical and business
      knowledge. Succeeded in applying mathematical and scientific skills to
      drive and clarify intricate and complex business challenges, resulting in
      bigger, better and faster achievements.
    </Summary>

    <Skills
      languages={[
        "Typescript",
        "Java",
        "Python",
        "HTML/CSS",
        "Javascript",
        "SQL",
      ]}
      technologies={[
        "Angular",
        "React",
        "Spring Boot",
        "Nodejs",
        "Nextjs",
        "Playwright",
      ]}
      other={[
        "Domain Driven Design",
        "Clean Architecture",
        "Modern Reactivity",
      ]}
    />

    <Experience
      show={[
        {
          title: "FullStack Software Engineer at GetYourGuide",
          fromDate: "Apr 2025",
          toDate: "Present",
          remarks: [],
          skills: [
            "Typescript",
            "Vue",
            "Playwright",
            "Java",
            "Spring Boot",
            "Domain Driven Design",
          ],
        },
        {
          title: "Senior Software Engineer at Swisscom",
          fromDate: "Jun 2022",
          toDate: "Apr 2025",
          remarks: [
            "Led the frontend of a tribe of 25+ engineers, driving, promoting and supporting the adoption of best practices and cutting-edge technologies.",
            "Introduced numerous improvements with a direct impact on daily operations: reduced pipeline time by half, developed a tool that cut several hours of manual work to just 1 click, among others.",
            "Mentored up to 5 new colleagues and contributed to improving onboarding processes, reducing on average by two weeks the time in which a new member became a regular contributor.",
            "Played a crucial role in making both frontend and backend architectural decisions, achieved a massive reduction in the complexity of critical business features, allowing related tasks that had weeks of estimation to be released to production within a day.",
          ],
          skills: [
            "TypeScript",
            "Angular",
            "Java",
            "Spring Boot",
            "Domain Driven Design",
          ],
        },
        {
          title:
            "Senior Software Engineer at We Feed Raw, a US pet food start-up | Acid Tango",
          fromDate: "Jun 2021",
          toDate: "Jun 2022",
          remarks: [
            "Led, built and maintained the backend and most of the entire infrastructure, achieved a successful migration and launch, returning a +50% increase in users and also new project signings and extensions with the customer.",
            "Migrated the complex pet feeding algorithm to an efficient, easy-to-read and extend solution, which was even reused in another similar product for the UK (Natures Menu).",
            "Contributed and collaborated closely with the frontend team, achieving record delivery performance in the company, even reaching to release features in production within minutes.",
            "Actively participated and led weekly company conferences, sharing and teaching on a multitude of topics, achieving a direct positive impact on 5+ different projects.",
          ],
          skills: [
            "TypeScript",
            "React",
            "Nextjs",
            "Domain Driven Design",
            "Nodejs",
            "PostgreSQL",
            "AWS",
          ],
        },
        {
          title: "Software Engineer at Santander | Fabrik",
          fromDate: "Sep 2019",
          toDate: "Jun 2021",
          remarks: [
            "Progressed through multiple roles from QA to Frontend and Backend engineer across different Santander divisions, demonstrating versatility and growth.",
            "Successfully delivered business-critical credit cards refresh feature 6x faster than estimated for Santander UK mobile app.",
            "Led the micro-frontend migration of Openbank's transfers, removing thousands of lines of legacy code and reducing related story point estimates by 80%.",
            "Integrated microservices in a 300+ engineers project for Santander's international payments system, achieving goals despite 5+ constraints while maintaining high-quality standards.",
            "Automated end-to-end regression tests for 4 hybrid mobile applications, resulting in a reduction from 2 weeks of manual work to 10 minutes of automatic execution. A company-wide milestone.",
          ],
          skills: [
            "TypeScript",
            "React",
            "Angular",
            "Ionic",
            "Java",
            "Spring Boot",
            "Kafka",
            "Selenium",
            "Appium",
          ],
        },
      ]}
    />

    <Education
      show={[
        {
          studies: "Bachelor's Degree | Polytechnic University of Madrid",
          details: "Mathematics and Computer Science.",
          fromYear: "2017",
          toYear: "2021",
          remarks: [
            "Achieved an average score of 9/10.",
            "Awarded academic excellence on behalf of Madrid city.",
          ],
        },
      ]}
    />

    <Others
      show={["Part of the global top 3% of talented minds since 2022 | Nova."]}
    />

    <Languages
      show={[
        { lang: "English", level: "C1" },
        { lang: "German", level: "A2 - B1" },
        { lang: "Spanish", level: "Native" },
      ]}
    />
  </Printable>

  <a href={cvReference} target="_blank" class="hover:underline"
    >Download CV 💾.</a
  >

  <div class="flex gap-4">
    <a target="_blank" href={LINKEDIN_LINK}>
      <img
        class="size-16"
        src={linkedinIconReference.src}
        alt="LinkedIn icon"
        loading="lazy"
      />
    </a>

    <a target="_blank" href={GITHUB_LINK}>
      <img
        class="size-16"
        src={githubIconReference.src}
        alt="GitHub icon"
        loading="lazy"
      />
    </a>
  </div>
</PageLayout>
